:root {
  --blue: hsl(246, 80%, 60%);
  --lightOrange: hsl(15, 100%, 70%);
  --softBlue: hsl(195, 74%, 62%);
  --lightRed: hsl(348, 100%, 68%);
  --limeGreen: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --softOrange: hsl(43, 84%, 65%);
  --veryDarkBlue: hsl(226, 43%, 10%);
  --darkBlue: hsl(235, 46%, 20%);
  --desaturatedBlue: hsl(235, 45%, 61%);
  --paleBlue: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.hold {
  width: 90%;
  margin: 0 auto;
}

.track {
  --pad: 2rem;
  --radius: 1rem;
  min-height: 100vh;
  padding: var(--pad) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--veryDarkBlue);
  color: #fff;
}

.track .hold {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 3fr;
      grid-template: 1fr / 1fr 3fr;
  grid-gap: var(--pad);
}

.trackTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--darkBlue);
  border-radius: var(--radius);
}

.trackUser {
  height: 100%;
  padding: var(--pad);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--blue);
  border-radius: var(--radius);
}

.trackUserImg {
  width: 5rem;
  height: 5rem;
  border: 3px solid #fff;
  border-radius: 5rem;
}

.trackUserInfo {
  margin-top: 2rem;
}

.trackUserInfo p {
  opacity: 0.5;
}

.trackUserInfo h1 {
  font-weight: 300;
  font-size: 3rem;
}

.trackMenu {
  padding: var(--pad);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trackLink {
  margin-bottom: 1rem;
  text-decoration: none;
  display: block;
  color: var(--desaturatedBlue);
}

.trackLink:last-child {
  margin-bottom: 0;
}

.trackLinkActive {
  color: #fff;
}

.trackBottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  grid-gap: var(--pad);
}

.trackCard {
  padding-top: calc(var(--pad) * 1.25);
  position: relative;
  border-radius: var(--radius);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: hidden;
}

.trackCard:nth-child(1) {
  background-color: var(--lightOrange);
}

.trackCard:nth-child(2) {
  background-color: var(--softBlue);
}

.trackCard:nth-child(3) {
  background-color: var(--lightRed);
}

.trackCard:nth-child(4) {
  background-color: var(--limeGreen);
}

.trackCard:nth-child(5) {
  background-color: var(--violet);
}

.trackCard:nth-child(6) {
  background-color: var(--softOrange);
}

.trackCardBgImg {
  width: calc(var(--pad) * 2);
  position: absolute;
  right: 1rem;
  top: -0.5rem;
}

.trackCardMain {
  padding: var(--pad);
  background-color: var(--darkBlue);
  border-radius: var(--radius);
  -webkit-transform: scaleZ(1);
          transform: scaleZ(1);
}

.trackCardHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trackCardHead h3 {
  font-size: 1.125rem;
}

.trackCardHead button {
  background: none;
  outline: none;
  border: none;
}

.trackCard h1 {
  margin-top: 1rem;
  font-size: 3.5rem;
  font-weight: 300;
}

.trackCard p {
  margin-top: 0.25em;
  font-size: 0.9rem;
  opacity: 0.7;
}

.trackCard:hover .trackCardMain {
  background-color: #3d367d;
}

@media (max-width: 1150px) {
  .track {
    --pad: 1.5rem;
  }
  .track .hold {
    max-width: 400px;
    -ms-grid-rows: (auto)[2];
    -ms-grid-columns: 1fr;
        grid-template: repeat(2, auto)/1fr;
  }
  .trackUser {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .trackUserImg {
    width: 3.5rem;
    height: 3.5rem;
  }
  .trackUserInfo {
    margin: 0;
    margin-left: 1rem;
  }
  .trackUserInfo p {
    font-size: 0.9rem;
  }
  .trackUserInfo h1 {
    font-size: 1.3rem;
  }
  .trackMenu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .trackLink {
    margin: 0 calc(var(--pad) * 0.5);
  }
  .trackBottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[6];
    -ms-grid-columns: 1fr;
        grid-template: repeat(6, auto)/1fr;
    grid-gap: var(--pad);
  }
  .trackCardMain {
    padding: var(--pad);
    background-color: var(--darkBlue);
    border-radius: var(--radius);
    -webkit-transform: scaleZ(1);
            transform: scaleZ(1);
  }
  .trackCardHead h3 {
    font-size: 1rem;
  }
  .trackCardContent {
    margin-top: calc(var(--pad) * 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .trackCard h1 {
    margin: 0;
    font-size: 2rem;
  }
}
